body
{
	background-color: #3A0042;
	color: #3A0042;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

header
{
	background-color: #3A0042;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

header > div
{
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

header h1.title
{
	color: #1bbaac;
	margin: 0;
	margin-left: 15px;
	margin-top: 35px;
}

.daily-total
{
	text-align: right;
}

footer
{
	background-color: #3A0042;
	bottom: 0;
	left: 0;
	margin: 0;
	position: fixed;
	width: 100%;
}

footer > div
{
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

footer div.logo
{
	color: #1bbaac;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
}

footer div.logo img
{
	margin: 0;
	margin-right: 5px;
	width: 27px;
}

footer div.logo p
{
	display: inline-block;
	font-size: 9px;
	line-height: 10px;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: 3px;
}

section.content
{
	margin: 75px auto;
	width: 1000px;	
}


div.left-pane, div.right-pane
{
	background-color: white;
	border: 4px solid #1bbaac;
	border-radius: 8px;
	display: inline-block;
	height: 90%;
	max-height: 500px;
	padding: 15px;
	position: relative;
	vertical-align: top;
	width: 45%;
}

div.left-pane
{
	margin-right: 15px;
}

div.left-pane > div.overflow, div.right-pane > div.overflow
{
	border-top: 1px solid #3A0042;
	border-bottom: 1px solid #3A0042;
	height: 100%;
	max-height: 400px;
	overflow-y: auto;	
}

div.left-pane ul, div.right-pane ul
{
	list-style-type: none;
	padding: 0;
}

div.right-pane div.stats
{
	position: absolute;
	top: 15px;
	right: 15px;
}

li {
	font-weight: 550;
	padding: 5px 0;
}

li span.timestamp, li span.datestamp
{
	color: gray;
	display: inline-block;
	font-size: 0.8em;
	font-weight: normal;
	width: 55px;
}

li span.datestamp
{
	width: 65px;
}

li.timestamp-date-separator
{
	border-top: 1px solid #3A0042;
	margin-top: 5px;
	text-align: right;
}

div.input
{
	border: 1px solid #3A0042;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin: 0;
	margin-top: 15px;
	padding: 5px;
	position: relative;
	width: 438px;
}

div.input div:before
{
	color: #3A0042;
	content: ">";
	left: 5px;
	position: absolute;

}

div.input div
{
	display: inline-block;
	height: 100%;
	padding-left: 12px;
	width: 85%;
}

input.timestamp {
	width: 55px;
}

div.export-container {
	position: absolute;
	right: 10px;
	top: 10px;
}